html {
	height: 100%;
}

body {
    min-height: 90%;
    height: 90%;
    position: relative;
	background-color: #b0bac7;
}

.clear{
    clear: both;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgba(66,22,66,.5);
}

.header__content {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.header__pic {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    float: left;
}

.header__logotext {
    padding-top: 15px;
    margin-left: 20px;
    color: white;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.middle {
    width: 100%;
}

.middle__content {
    width: 700px;
    margin: 20px auto;
}

.middle__content__user {
    color: black !important;
    width: 55%;
    margin-left: -300px;
}

.middle__content__msg {
    color: black !important;
    width: 55%;
    margin-left: -300px;
    height: 60px;
}

.middle__content__btn {
    color: black !important;
    width: 10%;
    margin-left: -300px;
}

.middle__content__chat {
    color: black !important;
    resize: none;
    overflow-y: scroll;
    margin-top: -180px;
    height: 600px !important;
    margin-left: 150px;
}